@{
    ViewData["Title"] = "Resume";
}
<head>
    <script src="https://kit.fontawesome.com/12a2218c97.js" crossorigin="anonymous"></script>
</head>

<div class="text-center">

    <h1  class="display-7" style="margin-top:200px; margin-left:-19px;" ><font size="44">Adarsh Pradyut</font></h1>
    
</div>

<body>
    <center>
    <div>
        <p><a href="https://github.com/apradyut"target="_blank"><i class="fab fa-github-alt fa-4x" style="color:black; margin-top:35px; margin-right:30px;" ></i> </a>    <a href="https://www.nuget.org/packages?q=apradyut"target="_blank"><img src="./img/download.png" height="50" width="50" style="margin-top:-39px; margin-right:30px" />    <a href="https://www.linkedin.com/in/adarshpradyut"target="_blank"><i class="fab fa-linkedin fa-4x"style="margin-right:30px"></i></a>    <a href="mailto:adarsh.pradyut@gmail.com"target="_blank"><i class="far fa-envelope fa-4x"style="color:black; margin-right:30px;"></i></a> </p>
    </div>
    </center>
</body>
